@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your account details</h1>

<p>
    <a asp-action="Extra_pickup" asp-route-id="@Model.Id">Extra Pickup</a> |
    <a asp-action="Suspend" asp-route-id="@Model.Id">Suspend Service</a> |
    <a asp-action="UpdatePickup" asp-route-id="@Model.Id">Update Pickup Day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Charges Due*@
                @Html.DisplayNameFor(model => model.ChargesDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            @if (Model.ExtraPickupDay.Ticks > DateTime.Today.AddDays(-1).Ticks)
            {
                <th>
                    @Html.DisplayNameFor(model => model.ExtraPickupDay)
                </th>
            }
            @if (Model.SuspendedEnd.Ticks > DateTime.Today.Ticks)
            {
                <th>
                    @Html.DisplayNameFor(model => model.SuspendedStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuspendedEnd)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               $ @Html.DisplayFor(modelItem => modelItem.ChargesDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.PickupDay)
            </td>
            @if (Model.ExtraPickupDay.Ticks > DateTime.Today.AddDays(-1).Ticks)
            { 
                 <td>
                    @Html.DisplayFor(modelItem => modelItem.ExtraPickupDay.Date)
                 </td>
            }
            @if (Model.SuspendedEnd.Ticks > DateTime.Today.Ticks)
            {
                <td>
                    @Html.DisplayFor(modelItem => modelItem.SuspendedStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.SuspendedEnd)
                </td>
            }
        </tr>
    </tbody>
</table>
