@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account Details</h1>

<p>
    <a asp-action="Extra_pickup" asp-route-id="@Model.Id">Extra Pickup</a> |
    <a asp-action="Suspend" asp-route-id="@Model.Id">Suspend Service</a> |
    <a asp-action="UpdatePickup" asp-route-id="@Model.Id">Update Pickup Day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Charges Due
            </th>
            <th>
                First
            </th>
            <th>
                Last
            </th>
            <th>
                Address
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Pickup Day
            </th>
            @if (Model.ExtraPickupDay.Ticks > DateTime.Today.AddDays(-1).Ticks)
            {
                <th>
                    Extra Pickup Day
                </th>
            }
            @if (Model.SuspendedEnd.Ticks > DateTime.Today.Ticks)
            {
                <th>
                    Start of Suspention
                </th>
                <th>
                    End of Suspention
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                $ @Html.DisplayFor(modelItem => modelItem.ChargesDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.PickupDay)
            </td>
            @if (Model.ExtraPickupDay.Ticks > DateTime.Today.AddDays(-1).Ticks)
            {
                <td>
                    @Model.ExtraPickupDay.ToString("M/d/yyyy")
                </td>
            }
            @if (Model.SuspendedEnd.Ticks > DateTime.Today.Ticks)
            {
                <td>
                    @Model.SuspendedStart.ToString("M/d/yyyy")
                </td>
                <td>
                    @Model.SuspendedEnd.ToString("M/d/yyyy")
                </td>
            }
        </tr>
    </tbody>
</table>
