@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>Customer Details</h1>

<div>
    <h4>
        <a asp-controller="Employees" asp-action="Index">Return</a>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Pickup Day
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Balance
        </dt>
        <dd class="col-sm-4">
            $ @Html.DisplayFor(model => model.ChargesDue)
        </dd>
        @if (Model.SuspendedEnd.Ticks > DateTime.Today.Ticks)
        {
            <dt class="col-sm-2">
                Start of Suspention
            </dt>
            <dd class="col-sm-4">
                @Model.SuspendedStart.ToString("M/d/yyyy")
            </dd>
            <dt class="col-sm-2">
                End of Suspention
            </dt>
            <dd class="col-sm-4">
                @Model.SuspendedEnd.ToString("M/d/yyyy")
            </dd>
        }
        @if (Model.ExtraPickupDay.Ticks > DateTime.Today.AddDays(-1).Ticks)
        {
            <dt class="col-sm-2">
                Extra pickup
            </dt>
            <dd class="col-sm-10">
                @Model.ExtraPickupDay.ToString("M/d/yyyy")
            </dd>
        }
        <dt class="col-sm-2">
            Zip Code
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            Last Pickup
        </dt>
        <dd class="col-sm-4">
            @Model.LastPickup.ToString("M/d/yyyy")
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    <hr />
    <div>
        <div id="map"></div>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <script>
            function initMap() {
                const myLatLng = { lat: @Model.Latitude, lng: @Model.Longitude };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 15,
                    center: myLatLng,
                });
                new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: "@Model.Address",
                });
            }
        </script>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly">

        </script>
    </div>
    
</div>
