@model IEnumerable<Trash_Collector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Today's Route</h1>

<p>
    To view pickups for a differnt day: <a asp-action="Pickups">Pick Day</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Pickup Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargesDue)
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @if (item.ExtraPickupDay == DateTime.Today)
            {
                <td>
                    Extra Pickup
                </td>
            }
            else
            {
                <td>
                    Normal
                </td>
            }
            <td>
                $ @Html.DisplayFor(modelItem => item.ChargesDue)
            </td>
            @if (item.LastPickup.Ticks > DateTime.Today.AddDays(-1).Ticks)
            {

                <td><b>Complete</b></td>
            }
            else
            {
                <td>
                    <form asp-action="PickupComplete">
                        <div class="form-group form-check">
                            <button asp-action="PickupComplete" asp-route-id="@item.Id" class="btn btn-primary">Confirm Pickup</button>
                        </div>
                    </form>
                </td>
            }
        </tr>
}
    </tbody>
</table>
